/** index.html - css begins **/

html {
    min-width: 100%;
    min-height: 100%;
}
body {
    min-width: 100%;
    max-height: 100%;
    background-position: top center;
    margin-bottom: -40px;
    background-image: url("../images/concrete_seamless.png");
}
.my-face-size {
    height: 150px;
    width: 100px;
}
.header {
    background-color: white;
    width: 100%;
    height: 20%
}
.connect-with-me-photos-size {
    height: 50px;
    width: 50px;
}
.box-background-color {
    background: #ffffff;  
}
p, strong, a {
    color: #777777;
    width: 880px;
    line-height: 33px;
    font-family: Arial, Helvetica, sans-serif;
}
p {
    margin-top: 5.5px;
}
.move-up {
    margin-top: -33px;
}
p1 {
    color: #777777;
    display: inline-block;
    margin: -25px;
    margin-top: 90px;
    margin-right: 117px;
    margin-left: -110px;
    padding-left: 29px;
    font-size: 18px;
    width: auto;
    float: right;
    font-family: Arial, Helvetica, sans-serif;
}
.move-right {
    margin-left: 110px;
}
h2{
    color: #4aaaa5;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.about-me-box {
    width: 960px;
    height: 400px;
    border: 1px solid #dddddd;
    padding: 25px;
    margin: 40px;
    margin-left: 150px;
    float: left;
}
h1 {
    margin-left: 150px;
    margin-top: 60px;
    margin-bottom: -5px;
    background: #4aaaa5;
    padding: 25px;
    color: #ffffff;
    display: inline-block;
    font-family: Georgia, 'Times New Roman', Times, serif;
    }
.divOne {
    display: inline-block;
}
.me-pic-margin {
    margin-right: 10px;
}
hr {
    border: 1px solid #cccccc;
    width: 958px;
    margin-top: 30px;
    margin-bottom: -5px;
}
.line {
    border: 1px solid #cccccc;
    width: 199px;
    margin-top: 5px;
    margin-bottom: 0px;
}
.top-line {
    border: .8px solid #cccccc;
    width: 1343px;
    margin-top: 5px;
    margin-bottom: 0px;
    margin-left: -10px;
}
.top-box {
    border: 40px solid #ffffff;
    width: 100%;
    margin-left: -10px;
    margin-top: -10px;
    margin-bottom: -148px;
}
.bottom-line {
    border: 4px solid black;
    width: 108%;
    margin-left: -18px;
}
.copyright {
    text-align: center;
    color: white;
    font-size: 10px;
    margin-left: 200px;
}
#box {
    width: 104.9%;
    background: #666666;
    border-top: 8px solid #4aaaa5;
    margin-left: -8px;
}
.move-down {
    margin-top: 69px;
}
#vertical-line {
    border-right: 1px solid #dddddd;
    height: 18px;
    margin: auto;
    margin-top: -529px;
    margin-right: 54px;
}
#vertical-line-2 {
    border-right: 1px solid #dddddd;
    height: 18px;
    margin: auto;
    margin-top: -18px;
    margin-right: 156px;
}

/** index.html - css ends **/

/** contact.html - css begins **/

.h3 {
    color: #777777;
}
.input {
    width: 99.4%;
    height: 29px;
    margin-top: 6px;
    margin-bottom: 17px;
}
.message-input-width {
    width: 99.4%;
    height: 194px;
    margin-top: 6px;
    margin-bottom: 20px;
    border: .1px solid #D3D3D3;
}
.sumbit-button {
    background: #4aaaa5;
    color: #ffffff;
    width: 116px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}
.font {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}
#font-2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13.5px;
}
.word-move {
    margin: 0;
}
.spacing-1 {
    padding-top: 30px;
}
#p5-margin-bottom {
    margin-bottom: 0;
}
.about-me-box-3 {
    width: 960px;
    height: 555px;
    border: 1px solid #dddddd;
    padding: 25px;
    margin: 40px;
    margin-left: 150px;
    margin-top: 38px;
    float: left;
}
.move-down-2 {
    margin-top: 307px;
}
#contact-hr {
    border: 1.5px solid #cccccc;
    width: 958px;
    margin-top: 30px;
    margin-bottom: -5px;
}
.copyright-3 {
    text-align: center;
    color: white;
    font-size: 10px;
    margin-left: 248px;
}
#box-3 {
    width: 104.9%;
    background: #666666;
    border-top: 8px solid #4aaaa5;
    margin-left: -8px;
}
#vertical-line-3 {
    border-right: 1px solid #dddddd;
    height: 18px;
    margin: auto;
    margin-top: -669px;
    margin-right: 54px;
}
#vertical-line-4 {
    border-right: 1px solid #dddddd;
    height: 18px;
    margin: auto;
    margin-top: -18px;
    margin-right: 155px;
}

/** contact.html - css ends **/

/** portfolio.html - css begins **/


.container {
    position: relative;
    color: #ffffff;
    
}
.Hangman {
    text-align: center;
    position: absolute;
    background: #4aaaa5;
    width: 205px;
    padding-top: 13px;
    padding-bottom: 13px;
    margin-top: 3px;
    top: 134px;
    left: 0;
    font-family: Georgia, 'Times New Roman', Times, serif
}
.same-row {
    display: inline-block;
}
.same-row-2 {
    display: inline-block;
    margin-left: 26px;
}
.cc-original {
    height: 153px;
    width: 205px;
    margin-top: 35px;
    float: left;
}
.cc-1 {
    height: 153px;
    width: 205px;
    margin-top: 35px;
}
.cc-2 {
    height: 153px;
    width: 205px;
    margin-top: 35px;
    
}
.cc-3 {
    height: 153px;
    width: 205px;
    margin-top: 35px;
}
.cc-4 {
    height: 153px;
    width: 205px;
    margin-top: 35px;
}
#RPGGame {
    position: absolute;
    top: 0;
    right: 200px;
    display: none;
}
#triviaGame {
    position: absolute;
    top: 383px;
    left: 183px;
}
#rutgetsInfoWidget {
    position: relative;
    top: 195px;
    left: -210px;
}
#rockPaperScissors {
    position: relative;
    top: 390px;
    left: -654px;
}
.about-me-box-2 {
    width: 960px;
    height: 677px;
    border: 1px solid #dddddd;
    padding: 25px;
    margin: 40px;
    margin-top: 10.5px;
    margin-left: 150px;
    float: left;
}
.move-up-2 {
    margin-top: -15px;
}
.copyright-2 {
    text-align: center;
    color: white;
    font-size: 10px;
    margin-left: 77px;
}
#box-2 {
    width: 104.9%;
    background: #666666;
    border-top: 5.7px solid #4aaaa5;
    margin-left: -8px;
    margin-top: .5px;
}
#vertical-line-5 {
    border-right: 1px solid #dddddd;
    height: 18px;
    margin: auto;
    margin-top: -875px;
    margin-right: 193px;
}
#vertical-line-6 {
    border-right: 1px solid #dddddd;
    height: 18px;
    margin: auto;
    margin-top: -18px;
    margin-right: 297px;
}

/** portfolio.html - css ends **/

@media only screen and (max-width: 1024px) {
    body {
        max-width: 1024px;
    }
    .about-me-box {
        width: 400px;
        height: 1510px;
    }
    .aboutMeText {
        width: 320px;
        height: 800px;
        position: relative;
        float: left;
        top: 20px;
    }
    hr {
        width: 400px;
    }
    .copyright {
        position: relative;
        right: 60px;
        top: 30px;
    }
    #box {
        width: 132%;
        height: 100px;
    }
    .top-box {
        width: 124%;
    }
    .my-face-size {
        height: 600px;
        width: 400px;
    }
    .top-line {
        width: 132%;
    }
}
@media only screen and (max-width: 768px) {
    body {
        width: 768px
    }
    .about-me-box {
        width: 650px;
        height: 500px;
        margin-left: 10px;
        margin-right: 10px;
    }
    .aboutMeText {
        width: 630px;
        height: 500px;
        position: relative;
        top: 3px;
        left: 10px;
        float: none;
    }
    hr {
        width: 450px;
    }
    .topbox,.top-line {
        width: 112%;
    }
    #box {
        width: 112%;
        height: 100px;
    }
    p1 {
        position: relative;
        left: 73px;
    }
    .copyright {
        position: relative;
        right: 230px;
        top: 30px;
    }
    h1 {
        position: relative;
        right: 132px;
    }
    hr {
        width: 640px;
    }
    .my-face-size {
        height: 150px;
        width: 100px;
    }

}
@media only screen and (max-width: 640px) {

    .about-me-box {
        width: 650px;
        height: 1450px;
    }
    .aboutMeText {
        width: 630px;
        height: 800px;
        position: relative;
        float: left;
        top: 20px;
    }
    hr {
        width: 640px;
    }
    .copyright {
        position: relative;
        right: 60px;
        top: 30px;
    }
    #box {
        width: 132%;
        height: 100px;
    }
    .my-face-size {
        height: 940px;
        width: 650px;
    }
    .top-line {
        width: 132%;
    }
    .copyright {
        position: relative;
        right: 250px;
    }
    .top-box {
        width: 124%;
        height: 0px;
    }
    h1 {
        position: relative;
        bottom: 0px;
        width: 719px;
        left: -150px;
        text-align: center;
    }
    p1 {
        position: relative;
        bottom: 55px;
        left: -134px;
    }
}
